.myPropertiesOuter {
 margin-bottom: 120px;
}

.headingMargin {
  margin-bottom: 30px;
  font-size: 35px;
}

.myPropertiesOuterWrap {
  position: relative;
  padding: 0 7px;

  .sliderDesc {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 30px;

    .propid {
      color: #fff;
      font-size: 24px;
      margin-bottom: 12px;
      letter-spacing: 0.24px;
    }

    .localtion {
      color: #fff;
      font-size: 16px;
      letter-spacing: 0.16px;
    }
  }
}
