:root {
  --border-radius: 4px;
  --color-text: #333;
  --font-sans: "Nunito Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji";
  --font-mono: "Nunito Sans", "Courier New", monospace;

  --textsize_h1: 76px;
  --textsize_h2: 40px;
  --textsize_h3: 24px;
  --lineheight_h3: 28px;

  --theme_color: "#BFA272";
}
html {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;

  font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
  height: -webkit-fill-available; 
  padding: 0;
  margin: 0;
  -webkit-text-size-adjust: 100%; 
  text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}
body {
  width: 100%;
  background-color: #fff;
  margin: 0;
  min-height: 100vh;
  min-height: -webkit-fill-available; 
  overflow-x: hidden;
  font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
}
a {
  background-color: transparent;
  text-decoration: none;
  font-weight: 500;
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 2px;
}
a:active,
a:hover {
  outline-width: 0;
  text-decoration: none;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  margin: 0;
  margin-bottom: 3rem;
  padding: 0;
  line-height: var(--line-height-dense);
  letter-spacing: -0.01em;
}
h1 > b {
  
}
img {
  border-style: none;
  max-width: 100%;
}
code,
kbd,
pre,
samp {
  font-family: var(--font-mono);
  font-size: 1em;
  line-height: inherit;
}
hr {
  box-sizing: content-box;
  overflow: visible;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding: 0;
  margin-bottom: calc(var(--space-4) - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
hgroup,
img,
figure,
fieldset,
ul,
ol,
dl,
dd,
p {
  margin: 0;
  padding: 0;
  margin-bottom: var(--space-4);
}
ul,
ol {
  margin-left: var(--space-4);
  list-style-position: outside;
  list-style-image: none;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: var(--space-4);
  font-size: 0.875rem;
  line-height: var(--line-height-normal);
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: var(--border-radius);
  overflow: auto;
  word-wrap: normal;
  padding: var(--space-4);
}
b,
strong,
dt,
th {
  font-weight: bold;
}
li {
  margin-bottom: calc(var(--space-4) / 2);
}
ol li,
ul li {
  padding-left: 0;
}
li > ol,
li > ul {
  margin-bottom: calc(var(--space-4) / 2);
  margin-left: var(--space-4);
  margin-top: calc(var(--space-4) / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(var(--space-4) / 2);
}
p {
  max-width: 680px;
}
code {
  font-size: 0.875rem;
}
kbd {
  font-size: 0.875rem;
}
samp {
  font-size: 0.875rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
tt,
code {
  background-color: var(--color-code-bg);
  border-radius: var(--border-radius);
  color: var(--color-code);
  font-family: var(--font-mono);
  padding-bottom: 0.25em;
  padding-top: 0.25em;
  word-break: normal;
}
pre code {
  background: none;
}
code:before,
code:after,
tt:before,
tt:after {
  content: "\00a0";
  letter-spacing: -0.2em;
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: none;
}

button {
  background-color: transparent;
  border: 0;
  padding: 0;
  margin: 0;
}

.u-ovh {
  overflow: hidden;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap,
.flexWrap {
  flex-wrap: wrap;
}

.flexGrow,
.flex-grow {
  flex: 1;
}

.inlineFlex,
.inline-flex {
  display: inline-flex;
}

.flex-ybaseline,
.flexYBaseline {
  align-items: baseline;
}

.flex-last-baseline,
.flexLastBaseline {
  align-items: baseline;
  align-items: last baseline;
}

.flex-ycenter,
.flexYcenter {
  align-items: center;
}

.flex-xcenter,
.flexXcenter {
  justify-content: center;
}

.flex-between,
.flexBetween {
  justify-content: space-between !important;
}

.flexStart,
.flex-start {
  align-self: flex-start;
}

.flexEnd,
.flex-end {
  align-items: flex-end;
}

.flex-none,
.flexNone {
  flex: none;
}

.justifyFlexEnd {
  justify-content: flex-end;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.mainWrapper {
}

.leftSection {
  width: 77px;
  position: fixed;
  left: 0;
  inset-block: 0;

  background-color: #fff;
  box-shadow: 0px 1px 2px #00000045;
  padding-inline: 14px;
  padding-block: 49px;
  display: none;
}

.rightSection {
  width: 100%;
  padding-inline: 10px;
}

[class*="hideSidebar"] {
  display: none;
}



@media screen and (min-width: 767px) {
  .rightSection {
    width: calc(100% - 77px);
    padding-inline: 52px;
    margin-inline-start: 77px;
  }

  .leftSection {
    display: block;
  }
}
