.sidebarWrap {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    width: 48px;
    height: 48px;
    border-radius: 5px;
    fill: #d0d0d0;
    cursor: pointer;

    &.active,
    :hover {
      fill: #916012;
      background-color: #fff2dd;
    }
  }
}

.hamburger {
  margin-block-end: 53px;
  cursor: pointer;

  .line {
    width: 22px;
    height: 2px;
    background-color: #000;
    display: block;
    margin: 4px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}
